spring:
  application:
    name: study
  datasource:
      url: jdbc:mariadb://localhost:3306/test?useUnicode=true&characterEncoding=UTF-8
      username: root
      password: root
  springdoc:
    api-docs:
      path: /api-docs
    swagger-ui:
      path: /swagger-ui.html
      enabled: true

      jpa:
        database-platform: org.hibernate.dialect.MariaDB103Dialect
        hibernate:
          ddl-auto: update
        properties:
          hibernate:
            format_sql: true #To beautify or pretty print the SQL
            show_sql: true #show sql
